.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002b7f;
  color: white;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
